<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <style>
        main {
            height: 80vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            background-color: aquamarine;
            padding: 2rem 5rem;
            border: 2px solid teal;
        }
    </style>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <main>
                <h1>Form Successfully Submitted</h1>
            </main>
            <%- include('includes/end.ejs') %>