<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        main {
            height: 80vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            background-color: aquamarine;
            padding: 2rem 5rem;
            border: 2px solid teal;
        }
    </style>
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/">Shop</a></li>
                <li class="main-header__item"><a href="/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Form Successfully Submitted</h1>
    </main>
</body>

</html>